footer {
    padding: 2rem 0;
    background: #2E3542;
}

.footer-source {
    padding-bottom: 4rem;
}

.footer-source h5 {
    padding: 15px 0;
    color: #C7C7C7;
    border-bottom: 1px solid #29303C;
}

.footer-source ul {
    padding: 0;
    list-style-type: none;
}

.footer-source ul li a {
    color: #888;
    font-size: 0.9rem;
}

.footer-bottom ul {
    margin: 6px 0;
}

.footer-bottom ul li a {
    margin: 0 4px;
    color: #707070;
    font-weight: normal;
}

.footer-bottom ul li+li::before {
    content: '｜';
    color: #666;
}