<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">資料來源</h2>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="footer-source row">
      <div class="col-lg-3">
        <h5>醫療</h5>
        <ul>
          <li> <a href="http://data.gov.tw/node/15393" target="_blank">醫療機構基本資料</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>安全</h5>
        <ul>
          <li> <a href="http://data.gov.tw/node/37536" target="_blank">雲林縣 - 警察局路口監錄系統設置地點</a> </li>
          <li> <a href="http://data.gov.tw/node/27066" target="_blank">嘉義縣 - 警察局路口監錄系統設置地點</a> </li>
          <li> <a href="http://data.gov.tw/node/37554" target="_blank">雲林縣 - 警察局住宅竊盜地點</a> </li>
          <li> <a href="http://data.gov.tw/node/27056" target="_blank">嘉義縣 - 警察局住宅竊盜地點</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>照護</h5>
        <ul>
          <li> <a href="http://ltcgis.mohw.gov.tw/Index/opendata.aspx" target="_blank">長照服務資源地理地圖</a> </li>
          <li> <a href="http://data.gov.tw/node/27550" target="_blank">雲林縣政府-老人機構一覽表鄉鎮別</a> </li>
          <li> <a href="http://data.gov.tw/node/24515" target="_blank">嘉義縣社會局-嘉義縣社區照顧關懷據點</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>宗教</h5>
        <ul>
          <li> <a href="http://data.gov.tw/node/8203" target="_blank">民政司-全國宗教資訊系統資料-寺廟</a> </li>
          <li> <a href="http://data.gov.tw/node/8204" target="_blank">民政司-全國宗教資訊系統資料-法人教會</a> </li>
          <li> <a href="http://data.gov.tw/node/8205" target="_blank">民政司-全國宗教資訊系統資料-基金會</a> </li>
        </ul>
      </div>
    </div>
    <div class="footer-source row">
      <div class="col-lg-3">
        <h5>人口數量變動</h5>
        <ul>
          <li> <a href="https://pip.moi.gov.tw/V2/E/SCRE0103.aspx" target="_blank">內政部不動產-人口數量季報表<br>（96年1季-105年4季）</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>年齡結構指標
        </h5>
        <ul>
          <li> <a href="http://www.ris.gov.tw/fr/346" target="_blank">戶政司-縣市人口年齡結構指標<br>（101年1月-106年6月）</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>長照ABC</h5>
        <ul>
          <li> <a href="#" target="_blank">雲林縣社會局-電訪（05-552-2560）</a> </li>
          <li> <a href="#" target="_blank">嘉義縣社會局-電訪（05-362-0900）</a> </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>界線圖資</h5>
        <ul>
          <li> <a href="http://data.gov.tw/node/7442" target="_blank">直轄市、縣市界線(TWD97經緯度)</a> </li>
          <li> <a href="http://data.gov.tw/node/7441" target="_blank">鄉鎮市區界線(TWD97經緯度)</a> </li>
          <li> <a href="http://data.gov.tw/node/7438" target="_blank">村里界圖(TWD97經緯度)</a> </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="footer-bottom row">
      <div class="col-lg-4">
        <span class="text-muted">Create By 李董與他的四位快樂好夥伴ver2</span>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <span class="text-muted">Thanks for：</span>
        </div>
        <div class="row">
          <ul class="nav">
            <li><a href="https://www.facebook.com/songlin.lee.3?fref=ts" target="_blank">李董</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100001759966645" target="_blank">阿成</a></li>
            <li><a href="https://zh-tw.facebook.com/people/%E8%95%AD%E7%9B%9F%E8%88%88/100002536325759" target="_blank">Monshin</a></li>
            <li><a href="https://zh-tw.facebook.com/people/Jessie-Wang/100001554500247" target="_blank">Smile Angle Jessie</a></li>
            <li><a href="https://robby570.tw" target="_blank">Robby</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
