<nav class="navbar navbar-toggleable-md navbar-inverse bg-custom bg-info fixed-top py-0 py-md-0">
  <div class="container">
    <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="./">嘉義黑蚵松</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#popuDataTable">人口數量變動 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#ysDataTable">年齡結構指標</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://explooosion.github.io/ChiayiHackathon/">Github</a>
        </li>
      </ul>
      <span class="navbar-text">Hackathon</span>
    </div>
  </div>
</nav>
