<app-navbar-modal></app-navbar-modal>
<header>
  <h1>{{title}}</h1>
</header>
<!-- Breadcrumbs -->
<div class="container dashboard">
  <!-- Icon Cards -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-primary o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-male"></i>
          <h1 class="text-center">34%</h1>
        </div>
        <div class="card-footer small">
          <h5>男性比例</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-danger o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-female"></i>
          <h1 class="text-center">31%</h1>
        </div>
        <div class="card-footer small">
          <h5>女性比例</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-success o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-blind"></i>
          <h1 class="text-center">21%</h1>
        </div>
        <div class="card-footer small">
          <h5>老人比例</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-warning o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-2x fa-user"></i>
          <h1 class="text-center">14%</h1>
        </div>
        <div class="card-footer small">
          <h5>兒童比例</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<app-map-modal></app-map-modal>
<app-data-modal></app-data-modal>
