<app-navbar-modal></app-navbar-modal>
<header>
  <h1>{{title}}</h1>
</header>
<!-- Breadcrumbs -->
<div class="container dashboard">
  <!-- Icon Cards -->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-primary o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-smile-o"></i>
          <h1 class="text-center">34</h1>
        </div>
        <div class="card-footer small">
          <h5>安全指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-danger o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-heartbeat"></i>
          <h1 class="text-center">31</h1>
        </div>
        <div class="card-footer small">
          <h5>醫療指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-success o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-wheelchair"></i>
          <h1 class="text-center">21</h1>
        </div>
        <div class="card-footer small">
          <h5>照護指數</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card card-inverse card-warning o-hidden h-100">
        <div class="card-block">
          <i class="fa fa-3x fa-users"></i>
          <h1 class="text-center">14</h1>
        </div>
        <div class="card-footer small">
          <h5>宗教指數</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<app-map-modal></app-map-modal>
<app-data-modal></app-data-modal>
