footer {
    padding: 15px 0;
    height: 120px;
    background: #2B3442;
}

footer .nav-thanks {
    margin: 6px 0;
}

footer .nav-thanks li {
    margin: 0 4px;
    color: #707070;
    font-weight: normal;
}

footer .nav-thanks li+li::before {
    content: '｜';
    margin: 0 3px 0 -8px;
    color: #666;
}