<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <span class="text-muted">Create By 李董與他的四位快樂好夥伴ver2</span>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <span class="text-muted">Thanks for：</span>
        </div>
        <div class="row">
          <ul class="nav nav-thanks">
            <li>李董</li>
            <li>夥伴1號</li>
            <li>夥伴2號</li>
            <li>夥伴3號</li>
            <li>夥伴4號</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
