<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="ysDataTable" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">年齡結構指標</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table id="YearTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>year</th>
                  <th>month</th>
                  <th>yearmonth</th>
                  <th>city</th>
                  <th>zero_twelve</th>
                  <th>twelve_seventeen</th>
                  <th>twenty</th>
                  <th>sixty_five</th>
                  <th>twnty_sixty</th>
                  <th>seventeen_twenty</th>
                  <th>zero_twenty</th>
                  <th>zero_seventeen</th>
                  <th>seventeen_sixty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of yearData">
                  <td>{{data.no}}</td>
                  <td>{{data.year}}</td>
                  <td>{{data.month}}</td>
                  <td>{{data.yearmonth}}</td>
                  <td>{{data.city}}</td>
                  <td>{{data.zero_twelve}}</td>
                  <td>{{data.twelve_seventeen}}</td>
                  <td>{{data.twenty}}</td>
                  <td>{{data.sixty_five}}</td>
                  <td>{{data.twnty_sixty}}</td>
                  <td>{{data.seventeen_twenty}}</td>
                  <td>{{data.zero_twenty}}</td>
                  <td>{{data.zero_seventeen}}</td>
                  <td>{{data.seventeen_sixty}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="popuDataTable" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">人口數量變動</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table id="PopuTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>year</th>
                  <th>season</th>
                  <th>year_season</th>
                  <th>city</th>
                  <th>total_population</th>
                  <th>total_population_increase</th>
                  <th>births</th>
                  <th>deaths</th>
                  <th>immigrants</th>
                  <th>emigrants</th>
                  <th>natural_increase_rate</th>
                  <th>social_increase_rate</th>
                  <th>total_increase_rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of popuData">
                  <td>{{data.no}}</td>
                  <td>{{data.year}}</td>
                  <td>{{data.season}}</td>
                  <td>{{data.year_season}}</td>
                  <td>{{data.city}}</td>
                  <td>{{data.total_population}}</td>
                  <td>{{data.total_population_increase}}</td>
                  <td>{{data.births}}</td>
                  <td>{{data.deaths}}</td>
                  <td>{{data.immigrants}}</td>
                  <td>{{data.emigrants}}</td>
                  <td>{{data.natural_increase_rate}}</td>
                  <td>{{data.social_increase_rate}}</td>
                  <td>{{data.total_increase_rate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
