/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('./styles-boostrap-slider.css');
* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  padding-top: 5rem;
}

header {
  padding: 1.5rem;
  text-align: center;
}
