/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('./bootstrap-custom.css');
@import "~nouislider/distribute/nouislider.min.css";
* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    padding-top: 6.5rem;
}

header {
    padding: 1.5rem;
    text-align: center;
}

.title {
    padding: 10px 0;
    margin: 40px auto 80px;
    width: 350px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    letter-spacing: 1px;
}