.dashboard {
    margin: 60px auto 90px;
}

#currentGroup {
    background: #3A4354 !important;
    padding: 2rem 0 5rem !important;
}

#futureGroup {
    background: #343C4B !important;
    padding: 2rem 0 !important;
}

.gmap {
    position: relative;
    width: 100%;
    height: 100%;
}


/* 
  設計巧思 by Rplus 
  https://codepen.io/Rplus/full/awMVjy/
*/

.gmap-mask {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: 4vmin;
    font-weight: 900;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, .2);
}

.gmap-mask:active,
.agm-map-container-inner:hover+.gmap-mask {
    visibility: hidden;
}

.gmap-loading {
    display: none;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

.gmap-loading .sk-circle::before {
    background-color: #3A4354;
}

agm-map {
    height: 600px;
    width: 100%;
}

#charGroup {
    margin: 30px auto;
}

#charGroup .card-inverse {
    color: #f1f1f1;
    background: #444;
}

#carePercent {
    padding-top: 15%;
}

#carePercent .card-title {
    padding: 10px 5px;
    margin: 15px auto 10px;
    font-size: 4rem;
    color: #fff;
    background: #86C7F3;
    border-radius: 6px;
}

#carePercent .fa-blind {
    color: #888;
}

#carePercent .fa-male {
    color: #444;
}

.fix-col {
    margin-bottom: 8px;
}

.fix-col .col-sm-3 {
    padding-right: 0px;
    max-width: 20%;
}

.fix-col .col-sm-9 {
    padding-left: 0px;
}